
*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    max-width: 100%;
    background-color: lightgrey;
    margin: 0 auto;
}
h1, h2{
    text-align: center;
}
header, footer{
    padding: 30px 0px;
    border-bottom: 2px solid black;
}
footer{
    border-bottom: none;
    border-top: 2px solid black;
}

.content{
    clear: both;
    overflow: hidden;
    height: auto;
}

section, aside{
    float: left;
    height: 500px;
    padding: 30px 0px;
}

section{
    width: 69%;
    border-right: 2px solid black;
}
aside{
    width: 30%;
}