*{
    margin: 0;
    padding: 0;
}
header, section, aside, footer{
    display: block;
    width: 100%;
}

header{
    background-color: lightgrey;
    height: 200px;
}
/* Logo */
.logo{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0px;

}
.logo img{
    width: 100px;
    height: 100px;
}
/* Menu */
nav{
    background-color: rgb(96, 96, 96);
}
.nav{
    height: 50px;

}
.nav ul{
list-style: none;
width: 100%;
display: block;
text-align: center;
}
nav ul li:first-child{
    border-left: 2px solid lightgrey;
}
.nav ul li{
    display: inline-block;
    border-right: 2px solid lightgrey;
}
.nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 50px;
    padding: 30px;
}
/* Hover effect on menu */

.nav ul li a:hover{
    color: orange;
    transition: 300ms;
   
}

/* Content */

.content{
    width: 1200px;
    padding: 30px 0px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    height: auto;
}
section, aside{
    float: left;
}
section{
    width: 70%;
}
aside{
    width: 30%;
}

.inner-section{
    width: 100%;
    background-color: lightgray;
    text-align: center;
    border-radius: 5px;
    height: 100px;
    padding: 50px 0px;
    margin-top: 30px;
   
}
/* footer */

footer{
    background-color:rgb(96, 96, 96) ;
    width: 100%;
    margin-top: 50px;
     clear: both;
    overflow: hidden;
    height: auto;
    padding: 30px 0px;
}
.footer{
    width: 1024px;
    margin: 0 auto;
}
.footer-widget{
    float: left;
    width: 25%;
}
.footer-widget ul{
    list-style: square;
    margin: 0;
    margin-left: 20px;
    padding: 0px;

}
.footer-widget ul li{
    color: white;
}